.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 'menu map';
  grid-template-rows: 100%;
  grid-template-columns: 400px auto;
}

.menu {
  grid-area: menu;
}

.icon {
  height: 16px;
  width: 16px;
}

.tabs {
  text-align: center;
}
