.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 'menu map';
  grid-template-rows: 100%;
  grid-template-columns: 400px auto;
}

.menu {
  grid-area: menu;
  text-align: center;
}

.header {
  padding-top: 16px;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

.tabPane {
  text-align: initial;
}

/*GATHER*/

.sort {
  margin-left: 16px;
  margin-right: 8px;
}

.option {
  margin-right: 8px;
}

.gather {
  display: grid;
  grid-template:
    'select'
    'dividerTop'
    'list'
    'dividerBottom'
    'info';
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 1fr;
}

.select {
  grid-area: select;
  padding-bottom: 16px;
}

.divider {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 32px;
  margin-right: 32px;
}

.rawlist {
  grid-area: list;
  height: 300px;
}

.info {
  grid-area: info;
  padding: 16px;
}

.row {
  margin-left: 16px;
  margin-right: 16px;
}

.rowIcon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}
