/*GATHER*/

.sort {
  margin-left: 16px;
  margin-right: 8px;
}

.option {
  margin-right: 8px;
}

.respond {
  flex: 1;
  display: grid;
  grid-template:
    'fyi'  auto
    'from'  auto
    'dividerTop'  auto
    'list' 1fr
    'dividerMid' auto
    'to' auto
    'dividerMidBottom' auto
    'cluster-list' 1fr
    'dividerBottom' auto
    'info' auto;
  grid-template-columns: 1fr;
  max-height: 100%;
}

.from {
  grid-area: from;
  padding-bottom: 16px;
}

.from-label {
  display: inline-block;
  width: 60px;
  text-align: end;
  padding-right: 12px;
}

.to {
  grid-area: to;
  padding-top: 16px;
  padding-bottom: 16px;
}

.to-label {
  display: inline-block;
  width: 60px;
  text-align: end;
  padding-right: 12px;
}

.divider {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 32px;
  margin-right: 32px;
}

.respond-rawlist-cluster {
  grid-area: cluster-list;
}

.respond-rawlist {
  grid-area: list;
  overflow: auto;
}

.organize-info {
  grid-area: info;
  padding: 16px;
  max-width: 400px;
  /*min-height: 200px;*/
}

.row {
  padding-left: 16px;
  padding-right: 16px;
}

.row:hover {
  background-color: #e6e6e6;
  transition: background-color 300ms;
  cursor: pointer;
}

.rowIcon {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}

.row-label {
  font-weight: bold;
  width: 70px;
  text-align: end;
  display: inline-block;
  margin-right: 8px;
}

.fyi {
  grid-area: fyi;
  padding: 0 16px 16px;
  font-weight: 500;
}

.organize-select {
  width: 200px;
}

.divider-mid {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}